<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Library</h1>
<h3>Add a genre:</h3>
<form action="#" th:action="@{/genre-create}" method="post">
    <label for="name">Name</label>
    <input type="text" th:value="${name}" name="name" id="name" placeholder="Name">
    <input type="submit" value="Create Genre">
</form>
</body>
</html>